{% extends 'DocumentationBundle::base.html.twig' %}

{% block title %}Documentation{% endblock title %}

{% block centerPanel %}

  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Sympozer Documentation
            <!--<p class="lead">With Affix and Scrollspy</p>-->
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-7">
                <img src="{{ asset('img/Documentation/overview_backoffice.png') }}" class="img-responsive"/>
              </div>
              <div class="col-sm-5">
                Back Office Overview
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /cont -->
  </div>

  <!-- Begin Body -->
  <div class="container">
  <div class="row">
  <div class="col-md-3" id="leftCol">

    <ul class="nav nav-stacked" id="sidebar">
      <li><a href="#Generalities"><i class="fa fa-search"></i> Generalities</a></li>
      <li><a href="#Conference"><i class="fa fa-cogs"></i> Conference</a></li>
      <li><a href="#Import_Export"><i class="fa fa-exchange"></i> Import/Export</a></li>
      <li><a href="#Mobile_App"><i class="fa fa-mobile"></i> Mobile App'</a></li>
      <li><a href="#Schedule"><i class="fa fa-calendar"></i> Schedule</a></li>
      <li><a href="#Collaborative"><i class="fa fa-code-fork"></i> Collaborative</a></li>
      <li><a href="#Authorizations"><i class="fa fa-gavel"></i> Authorizations</a></li>
      <li><a href="#Modules"><i class="fa fa-archive"></i> Modules</a></li>
      <li><a href="#Person"><i class="fa fa-user"></i> Person</a></li>
      <li><a href="#Paper"><i class="fa fa-book"></i> Paper</a></li>
      <li><a href="#Topic"><i class="fa fa-crosshairs"></i> Topic</a></li>
      <li><a href="#Organization"><i class="fa fa-users"></i> Organization</a></li>
      <li><a href="#Event"><i class="fa fa-calendar-o"></i> Event</a></li>
      <li><a href="#Location"><i class="fa fa-map-marker"></i> Location</a></li>
      <li><a href="#Role_Type"><i class="fa fa-tag"></i> Role Type</a></li>
      <li><a href="#Category"><i class="fa fa-sort-amount-desc"></i> Category</a></li>
      <li><a href="#Social_Service"><i class="fa fa-twitter"></i> Social Service</a></li>
    </ul>

  </div>
  <div class="col-md-9">

  <!-- Generalities -->
  <i class="fa fa-search fa-3x"></i>

  <h2 id="Generalities" style="color :#19313b; display:inline;"> Generalities</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <br/>

  <!-- Icons -->
  <i class="fa fa-th fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Icons</h3>
  <br/>
  <hr class="col-md-6" style="border-color: #19313b;">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><i class="fa fa-plus"></i> : New.</li>
                <li><i class="fa fa-eye"></i> : Details.</li>
                <li><i class="fa fa-pencil"></i> : Edit.</li>
                <li><i class="fa fa-check"></i> : Validate.</li>
                <li><i class="fa fa-trash-o"></i> : Delete.</li>
                <li><i class="fa fa-sign-in"></i> : Enter in a conference.</li>
                <li><i class="fa fa-home"></i> : Dashboard.</li>
                <li><i class="fa fa-user"></i> : Profile.</li>
                <li><i class="fa fa-power-off"></i> : Log out.</li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <br/>
  <!-- Dashboard -->
  <i class="fa fa-ellipsis-h fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Dashboard</h3>
  <br/>
  <hr class="col-md-6" style="border-color: #19313b;">

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/dashboard.png') }}" class="img-responsive well"/>
                  In the dashboard, retrieve all your conferences. In this section you create, delete conference.
                </li>
                <li><p><span class="badge">1</span> <strong>Create a new conference</strong>(See <a
                        href="#Conference">Conference</a>)</p></li>
                <li><p><span class="badge">2</span> <strong>Enter in conference</strong>(See <a
                        href="#Conference">Conference</a>)</p></li>
                <li><p><span class="badge">3</span> <strong>Delete the conference</strong>(See <a
                        href="#Conference">Conference</a>)</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Menu -->
  <i class="fa fa-ellipsis-h fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Main Menu</h3>
  <hr class="col-md-6" style="border-color: #19313b;">

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/menu.png') }}" class="img-responsive well"/></li>
                <li><span class="badge">1</span> <strong>Home</strong> : Redirect To the dashboard.</li>
                <li>
                  <span class="badge">2</span> <strong>Profile</strong> : Consult and edit your profile information.
                  <img src="{{ asset('img/Documentation/profile.png') }}" class="img-responsive"/>
                </li>
                <li><span class="badge">3</span> <strong>Logout</strong> : Logout.<a/>.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Conference Menu -->
  <i class="fa fa-cogs fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Conference Menu</h3>
  <hr class="col-md-6" style="border-color: #19313b;">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/conference_menu.png') }}" class="img-responsive well"/></li>
                <li><span class="badge">1</span> <strong>Overview</strong> : Redirect to the conference overview.</li>
                <li><p><span class="badge">2</span>
                    <strong> Modules Manager</strong> : Redirect to the module manager (See <a
                        href="#Modules">Modules</a>)</p></li>
                <li><p><span class="badge">3</span> <strong> Team</strong> : Redirect to the team manager section (See
                    <a href="#Collaborative">Collaborative</a>).</p></li>
                <li><p><span class="badge">4</span>
                    <strong> Import/Export</strong> : Redirect to the Import/Export section. In this section import or
                    export your datas in several format(See
                    <a href="#Import_Export">Import/Export</a>).</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Second modules Menu -->
  <i class="fa fa-archive fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Modules Menu</h3>
  <hr class="col-md-6" style="border-color: #19313b;">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/modules_menu.png') }}" class="img-responsive well"/></li>
                <li><p><span class="badge">1</span> <strong>Events</strong> : Acces to the events section (See <a
                        href="#Event">Event</a>).</p></li>
                <li><p><span class="badge">2</span> <strong>Persons</strong> : Acces to the persons section (See <a
                        href="#Person">Person</a>).</p></li>
                <li><p><span class="badge">3</span> <strong>Publications</strong> : Acces to the paper section (See <a
                        href="#Paper">Paper</a>).</p></li>
                <li><p><span class="badge">4</span>
                    <strong>Organizations</strong> : Acces to the organization section (See <a
                        href="#Organization">Organization</a>).</p></li>
                <li><p><span class="badge">5</span> <strong>Locations</strong> : Acces to the location section (See <a
                        href="#Location">Location</a>).</p></li>
                <li><p><span class="badge">6</span> <strong>Categories</strong> : Acces to the category section (See <a
                        href="#Category">Category</a>).</p></li>
                <li><p><span class="badge">7</span> <strong>Topics</strong> : Acces to the topic section (See <a
                        href="#Topic">Topic</a>).</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Schedule -->
  <i class="fa fa-calendar fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Schedule</h3>
  <hr class="col-md-6" style="border-color: #19313b;">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/schedule_menu.png') }}" class="img-responsive well"/></li>
                <li><p> Redirect to the visual user friendly schedule. (See <a href="#Schedule">Schedule</a>).</p></li>
                <li><img src="{{ asset('img/Documentation/schedule.png') }}" class="img-responsive well"/></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Second mobil app Menu -->
  <i class="fa fa-mobile fa-3x"></i>

  <h3 style="color :#19313b; display:inline;"> Mobile App' Menu</h3>
  <hr class="col-md-6" style="border-color: #19313b;">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li><img src="{{ asset('img/Documentation/mobilapp_menu.png') }}" class="img-responsive well"/></li>
                <li><p><span class="badge">1</span>
                    <strong>Theme Builder</strong> : Build your own theme for the mobile app'.(See <a
                        href="#Mobil_App">Mobil_App</a>).</p></li>
                <li><p><span class="badge">2</span>
                    <strong>Settings</strong> : Set mobil app' parameter like dataources.(See <a
                        href="#Mobil_App">Mobil_App</a>).</p></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Conference -->
  <i class="fa fa-cog fa-3x"></i>

  <h2 id="Conference" style="color :#19313b; display:inline;"> Conference</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    The conference is the main element fo Sympozer. Create and manage several conferences.
    A conference is composed in part by :
  <ul>
    <li><strong>Summary</strong> : Name of your conference.</li>
    <li><strong>Logo</strong> : Logo of the conference. Is also used for mobil app' design settings (See <a
          href="#Mobil_App">Mobil App')</a>.
    </li>
    <li><strong>Url</strong> : Site web url of the conference .</li>
    <li><strong>First Name</strong> : First name of the person.</li>
    <li><strong>Description</strong> : Description about tha conference.</li>
    <li><strong>Comment</strong> : Comment about the conference.</li>
    <li><strong>Organizer</strong> : Organizer of the conference.</li>
    <li><strong>Contacts</strong> : Contacts of the conference.</li>
    <li><strong>Acronym</strong> : Acronym of the conference</li>
    <li><strong>Twitter widget id</strong> : Id of the conference's twitter widget.</li>
    <li><strong>Conference Location</strong> : Location of the conference (See <a
          href="#Location">Location</a>). Set also the location's longitude et latitude with the map in 'Conference
      Overview'
    </li>
  </ul>

  All modules are related to a conference, except Categories.
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Your Conferences </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <p>
                    <span class="badge">1</span>
                    After connection, you arrive on the 'Dashboard' page where you retrieve all your conferences created
                    by you or shared with you.
                    This page is accessible also by clicking on the <i class="fa fa-home"></i> in the main menu.
                    For each conference, informations like number of papers, persons, events...and <a
                        href="#Authorization">authorization</a>.
                  </p>
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/dashboard.png') }}" class="img-responsive"/>
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Create a new conference </h3><i
              class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the dashboard(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-plus"></i> New Conference'.
                </li>
                <li>
                  <span class="badge">3</span>
                  You will redirect to the conference's overview.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Manage a conference </h3><i
              class="fa fa-wrench fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the dashboard(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-sign-in"></i>' button of the conference choosed.
                </li>
                <li>
                  <p>
                    <span class="badge">3</span>
                    You will redirect to the conference's overview. Manage the schedule and datas(See <a
                        href="#Generalities">Generalities</a>).
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">3</span>
                    For edit conference component, go to the conference overview and click on '<i
                        class="fa fa-edit"></i> edit conference'.
                  </p>
                <li>
                  <span class="badge">4</span>
                  Click on <i class="fa fa-check"></i> for validate.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Delete a conference </h3><i
              class="fa fa-trash-o fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the dashboard(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-trash-o"></i>' button of the conference choosed.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin row -->

  <!-- Import/Export -->
  <i class="fa fa-exchange fa-3x"></i>

  <h2 id="Import_Export" style="color :#19313b; display:inline;"> Import/Export</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <!-- Mobil App' -->
  <i class="fa fa-mobile fa-3x"></i>

  <h2 id="Mobile_App" style="color :#19313b; display:inline;"> Mobile App'</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <!-- Schedule -->
  <i class="fa fa-calendar fa-3x"></i>

  <h2 id="Schedule" style="color :#19313b; display:inline;"> Schedule</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <!-- Collaborative -->
  <i class="fa fa-code-fork fa-3x"></i>

  <h2 id="Collaborative" style="color :#19313b; display:inline;"> Collaborative</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Share your conferences with your team, and delegate work by giving different <a
        href="#Authorization">authorizations</a> access. Also, suppress member of team anytime.
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">List team </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <p>
                    <span class="badge">1</span>
                    From the dasboard, enter in a conference.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">2</span>
                    In the menu '<i class="fa fa-cogs"></i> Conference', click on <i class="fa fa-users"></i>.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">3</span>
                    You arrive on the team management section, with the member list of your team.
                  </p>
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/team_list.png') }}" class="img-responsive"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Add member </h3><i
              class="fa fa-code-fork fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <p>
                    <span class="badge">1</span>
                    Go to the team manegement section(see above).
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">2</span>
                    Click on 'Add user in conference', a form appear.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">3</span>
                    Choose the user to add, and his authorizations access to the conference(See <a
                        href="#Authorization">Authorizations</a>).
                    Click on <i class="fa fa-check"></i> for validate.
                  </p>
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/team_add.png') }}" class="img-responsive"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Change authorizations access </h3><i
              class="fa fa-gavel fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <p>
                    <span class="badge">1</span>
                    Go to the team management section(see above).
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">2</span>
                    Click on '<i class="fa fa-pencil"></i>' button in front of the user you want to change <a
                        href="#Authorization">authorizations</a>.
                  </p>
                </li>
                <li>
                  <p>
                    <span class="badge">3</span>
                    Enable or disable authorizations access.(See <a href="#Authorization">Authorizations</a>).
                    Click on <i class="fa fa-check"></i> for validate.
                  </p>
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/team_edit.png') }}" class="img-responsive"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Delete a member </h3><i
              class="fa fa-trash-o fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the team management section(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on button with the user's name you want to delete, and click on 'Remove user from the
                  conference'.
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/team_delete.png') }}" class="img-responsive"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Authorizations -->
  <i class="fa fa-gavel fa-2x"></i>

  <h2 id="Authorizations" style="color :#19313b; display:inline;"> Authorizations</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Details</h3>

  <p>
    Restrict the conference access in calloborative work thanks to authorizations. By default, all member of the team is
    allow to consult all elements of the conference :
  <ul>
    <li><strong>Mobil App Manager</strong> : Give access to the mobile app settings section (See <a
          href="#Mobile_App">Mobil App'</a>)
    </li>
    <li><strong>Schedule Manager</strong> : Give complete access to the <a href="#Schedule">Calendar</a> and <a
          href="#Event">module event</a></li>
    <li><strong>Team Manager</strong> : Allow to add, delete or change autorizations of the team members.(See <a
          href="#Collaborative">Collaborative</a></li>
    <li><strong>Meal Event</strong> : A lunch, dinner or similar event at a conference or conference-like event. .</li>
    <li><strong>Datas Conference Manager</strong> : Allow all actiosn(add, edit, delete) on all conference datas :
      <ul>
        <li><a href="#Person"><i class="fa fa-user"></i> Person</a></li>
        <li><a href="#Paper"><i class="fa fa-book"></i> Paper</a></li>
        <li><a href="#Topic"><i class="fa fa-crosshairs"></i> Topic</a></li>
        <li><a href="#Organization"><i class="fa fa-users"></i> Organization</a></li>
        <li><a href="#Event"><i class="fa fa-calendar-o"></i> Event</a></li>
        <li><a href="#Location"><i class="fa fa-map-marker"></i> Location</a></li>
        <li><a href="#Category"><i class="fa fa-sort-amount-desc"></i> Category</a></li>
      </ul>
    </li>
  </ul>

  You can not edit, show or create role type.
  </p>

  <!-- Modules -->
  <i class="fa fa-archive fa-3x"></i>

  <h2 id="Modules" style="color :#19313b; display:inline;"> Modules</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Adapt your Sympozer backoffice to yours needs.
    Enable or disable modules several modules :
  <ul>
    <li><strong>Paper</strong> : This module is the <a
          href="#Paper">paper</a> management. If your conference is no related to papers you can disabled it. So, all
      section related to papers(list, edit, show ...) will be erased from the backoffice and the mobil application.
    </li>
    <li><strong>Organization</strong> : This module is the <a
          href="#Organization">organization</a> management. If your conference doesn't handle organizations, you can
      disabled it. So, all section related to organizations will be erased from the backoffice and the mobil
      application.
    </li>
  </ul>
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Enable/Disable Modules </h3><i
              class="fa fa-inbox fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu '<i class="fa fa-cogs"></i> Conference', click on <i class="fa fa-inbox"></i>.
                </li>
                <li>
                  <span class="badge">3</span>
                  You arrive on the modules management section. Enable/Disable modules.
                </li>
                <li>
                  <img src="{{ asset('img/Documentation/modules_management.png') }}" class="img-responsive"/>
                </li>
                <li>
                  <span class="badge">4</span>
                  Click on <i class="fa fa-check"></i> for validate.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Person -->
  <i class="fa fa-user fa-3x"></i>

  <h2 id="Person" style="color :#19313b; display:inline;"> Person</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Person is one module of Sympozer.
    A person is composed by :
  <ul>
    <li><strong>Name</strong> : Name of the person.</li>
    <li><strong>Family Name</strong> : Family Name of the person.</li>
    <li><strong>First Name</strong> : First name of the person.</li>
    <li><strong>Description</strong> : Description about a person.</li>
    <li><strong>Age</strong> : Age of the person</li>
    <li><strong>Papers</strong> : Papers where the person is author or co-author</li>
    <li><strong>Organizations</strong> : Organizations where trhe person is member</li>
    <li><strong>Image</strong> : Picture who represent the person (portrait...)</li>
    <li><strong>OpenId</strong> : OpenId of the person. Is connection</li>
    <li><strong>Email</strong> : Email of the person.</li>
    <li><strong>Page</strong> : Presentation page of the person(university page, linkedin...)</li>
    <li><strong>Accounts</strong> : Associate social network account to a person.
      <ul>
        <li><strong>Account Name</strong> : Login social network of the person.</li>
        <li><strong>Social Service</strong> : Select the social service of the account.</li>
      </ul>
    </li>
  </ul>
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Person List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-user"></i>, you can see the list of persons.
                </li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add a person </h3><i class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the person list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on '<i class="fa fa-plus"></i> New person'.
                </li>
                <span class="badge">3</span>
                Complete the form and click on <i class="fa fa-check"></i> for validate.
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of a person.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit a person </h3><i class="fa fa-pencil fa-2x"></i>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the person list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the person you want to edit.
                </li>
                <span class="badge">3</span>
                Complete the form and click on <i class="fa fa-check"></i> for validate.
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of a person.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Paper -->
  <i class="fa fa-book fa-2x"></i>

  <h2 id="Paper" style="color :#19313b; display:inline;"> Paper </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Paper is one module of Sympozer. You can desactive this module see section Modules.
    A paper is composed by :
  <ul>
    <li><strong>Title</strong> : Title of the paper.</li>
    <li><strong>Abstract</strong> : Abstract of the paper.</li>
    <li><strong>Url</strong> : Url of the complete version of the paper.</li>
    <li><strong>Authors</strong> : Authors and co-authors of the paper.</li>
    <li><strong>Publisher</strong> : Publisher of the paper</li>
    <li><strong>Publish Date</strong> : Date of publication</li>
    <li><strong>Topics</strong> : Topics relative to the paper</li>
  </ul>
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Paper List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-book"></i>, you can see the list of papers.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add a paper </h3><i class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the paper list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on '<i class="fa fa-book"></i> New paper'.
                </li>
                <li>
                  <span class="badge">3</span>
                  In the menu Module, click on '<i class="fa fa-plus"></i> New paper'.
                </li>
                <li>
                  <span class="badge">4</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">5</span>
                  You will be redirect to the details view of the paper you have just created.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit a paper </h3><i class="fa fa-pencil fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the paper list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the paper you want to edit.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of a paper you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Topic -->
  <i class="fa fa-crosshairs fa-2x"></i>

  <h2 id="Topic" style="color :#19313b; display:inline;"> Topic </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Topic is one module of Sympozer. Organize your papers(See <a href="#Paper">Paper</a>) and events(See <a
        href="#Event">Event</a>). You can create topics or import them(See <a href="#Import_Export">Import/Export</a> )
    An Topic is composed by :
  <ul>
    <li><strong>Label</strong> : Topic subject.</li>
  </ul>
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Topic List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-crosshairs"></i>, you can see the list of topics.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add an topic </h3><i class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the topic list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-plus"></i> Topic'.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of an event you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit an topic </h3><i class="fa fa-pencil fa-2x"></i>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the topic list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the topic you want to edit.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of an event you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Organization -->
  <i class="fa fa-users fa-2x"></i>

  <h2 id="Organization" style="color :#19313b; display:inline;"> Organization </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Organization is one module of Sympozer. You can desactive this module see section Modules.
    A paper is composed by :
  <ul>
    <li><strong>Name</strong> : Name of the organization.</li>
    <li><strong>Page</strong> : Url of the presentation page of the organization.</li>
    <li><strong>Country</strong> :Country of the organization.</li>
    <li><strong>Members</strong> : Persons who are member of the organization.(See <a href="#Person">Person</a>)</li>
  </ul>
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Organization List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-users"></i>, you can see the list of organizations.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add a organization </h3><i class="fa fa-plus fa-2x"></i>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the organization list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-plus"></i> New organization'.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of the organization you have just created.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit a organization </h3><i
              class="fa fa-pencil fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the paper list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the paper you want to edit.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of a organization you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Events -->
  <i class="fa fa-calendar-o fa-2x"></i>

  <h2 name="Event" id="Event" style="color :#19313b; display:inline;"> Event </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Events is one module of Sympozer. Also, Manage your schedule with the calendar(See Sechedule).
    An Event is composed by :
  <ul>
    <li><strong>Summary</strong> : Title of the event.</li>
    <li><strong>Categories</strong> : Categories of the event(See Categories)</li>
    <li><strong>Description</strong> :Description of the event.</li>
    <li><strong>Url</strong> : Url about the event.</li>
    <li><strong>Comment</strong> : Comment about the event.</li>
    <li><strong>Organizer</strong> : Organizer of the event.</li>
    <li><strong>Comment</strong> : Contact about the event .</li>
    <li><strong>Location</strong> : Room or building where the event take place.</li>
    <li><strong>Topics</strong> : Topics relative to th event.</li>
    <li><strong>Papers</strong> : Papers presented during the event.</li>
    <li><strong>Persons</strong> : Actors of the event and their role in it(ChairMan, Speaker...See <a
          href="#Role_Type">Role Type</a>).
    </li>
  </ul>
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Event List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-calendar-o"></i>, you can see the list of events.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add an event </h3><i class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-calendar"></i> Schedule' in the right menu.
                </li>
                <li>
                  <span class="badge">3</span>
                  Click in the calendar at the date and hour you want to create your event.(See Calendar Schedule)
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit an event </h3><i class="fa fa-pencil fa-2x"></i>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the event list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the event you want to edit.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of an event you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Location -->
  <i class="fa fa-map-marker fa-2x"></i>

  <h2 id="Location" style="color :#19313b; display:inline;"> Location </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Location is one module of Sympozer. It represent the room where taking place speech or the conference's place.
    You can located your conference with a map in conference edit(See Conference). Locate your event(See <a
        href="#Event">Event</a>) thanks to your created or imported(See <a
        href="#Import_Export">Import/Export</a>) locations.
    A location is composed by :
  <ul>
    <li><strong>Name</strong> : Name of the location(room nalme and number, building...).</li>
    <li><strong>Capacity</strong> : Location's capacity.</li>
    <li><strong>Description</strong> : Location's description.</li>
    <li><strong>Latitude</strong> : Authors and co-authors of the paper.</li>
    <li><strong>Longitude</strong> : Publisher of the paper</li>
    <li><strong>Equipment</strong> : Equipments available in the room :
      <ul>
        <li><i class="fa fa-laptop"> Laptop</i></li>
        <li><i class="fa fa-volume-up"> Speaker</i></li>
        <li><i class="fa fa-rss"></i> Web</li>
        <li><i class="fa fa-film"></i> Screen</li>
        <li><i class="fa fa-video-camera"> OHP</i></li>
        <li><i class="fa fa-microphone"> Microphone</i></li>
      </ul>
    </li>
  </ul>
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="color :#19313b; display:inline;">Location List </h3><i
              class="fa fa-list fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  From the dasboard, enter in a conference.
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on <i class="fa fa-map-marker"></i>, you can see the list of location.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Add a location </h3><i class="fa fa-plus fa-2x"></i></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the location list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  In the menu Module, click on '<i class="fa fa-map-marker"></i>'.
                </li>
                <li>
                  <span class="badge">3</span>
                  Click on '<i class="fa fa-plus"></i> New Location'.
                </li>
                <li>
                  <span class="badge">4</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">5</span>
                  You will be redirect to the details view of the location you have just created.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 style="display:inline">Edit a location </h3><i class="fa fa-pencil fa-2x"></i>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <span class="badge">1</span>
                  Go to the location list(see above).
                </li>
                <li>
                  <span class="badge">2</span>
                  Click on '<i class="fa fa-pencil"></i>' button front of the location you want to edit.
                </li>
                <li>
                  <span class="badge">3</span>
                  Complete the form and click on <i class="fa fa-check"></i> for validate.
                </li>
                <li>
                  <span class="badge">4</span>
                  You will redirect to the details view of a location you have just edited.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Role Type -->
  <i class="fa fa-tag fa-2x"></i>

  <h2 id="Role_Type" style="color :#19313b; display:inline;"> Role Type </h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    The model is based on the 'Semantic Web Conference' ontology. It contain several role :
  <ul>
    <li><strong>Delegate</strong> : Is a speaker delegate by the officail presenter.</li>
    <li><strong>Chair</strong> : Main responsable of the event</li>
    <li><strong>Presenter</strong> : Presenter of the event.</li>
    <li><strong>Programme Committee Member</strong> : Member of the conferences committee, in charge of the event.</li>
  </ul>

  You can not edit, show or create role type.
  </p>

  <!-- Category -->
  <i class="fa fa-sort-amount-desc fa-2x"></i>

  <h2 id="Category" style="color :#19313b; display:inline;"> Category</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    The model is based on the 'Semantic Web Conference' ontology. It contain several event's categories' :
  <ul>
    <li><strong>Break Event</strong> : Any kind of break at the super-event, such as a coffee break..</li>
    <li><strong>Conference Event</strong> : Represent a conference</li>
    <li><strong>Keynote Event</strong> : ????????.</li>
    <li><strong>Meal Event</strong> : A lunch, dinner or similar event at a conference or conference-like event. .</li>
    <li>
      <strong>Panel Event</strong> : A panel discussion at a conference or conference-like event, usually involving
      several speakers.
    </li>
    <li>
      <strong>Session Event</strong> : A session dedicated to a specific topic at a conference. This could be a session
      with talks, or also a poster session, a demo session, or any other kind of session. .
    </li>
    <li><strong>Social Event</strong> : Examples for social events are parties or excursions. .</li>
    <li>
      <strong>Talk Event</strong> : A speaker giving a talk. This could be the presentation of a paper, but also keynote
      speech or any other kind of talk. .
    </li>
    <li>
      <strong>Track Event</strong> :A track groups all those sessions or events at a conference or workshop that belong
      to a common, overall theme. Depending on the conference, tracks can be quite generic, such as "Research" or
      "Industrial", but can also be more specific, such as "Semantic Web" or "Numismatics". SWC does not define any
      specific tracks, since conferences often differ so much with respect to how they structure their tracks, that it
      would be pointless to try and find a set of tracks that would suit all conferences. .
    </li>
    <li><strong>Workshop Event</strong> : A scientific workshop. Workshops are often co-located with ConferenceEvents.
    </li>
  </ul>

  You can not edit, show or create role type.
  </p>

  <!-- Social Service -->
  <i class="fa fa-twitter fa-2x"></i>

  <h2 id="Social_Service" style="color :#19313b; display:inline;"> Social Service</h2>
  <hr class="col-md-12" style="border-color: #19313b;">
  <h3>Overview</h3>

  <p>
    Accounts(See <a href="#Person">Person</a>) can be associate to several social service :
  <ul>
    <li><strong>Twitter </strong> <i class="fa fa-twitter"></i></li>
    <li><strong>LinkedIn</strong> <i class="fa fa-linkedin"></i></li>
    <li><strong>Facebook</strong> <i class="fa fa-facebook"></i></li>
  </ul>

  You can not edit, show or create a social service.
  </p>
  </div>
  </div>
  </div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">

    $(document).ready(function ()
    {

      $('#sidebar').affix({
        offset: {
          top: 235
        }
      });

      var $body = $(document.body);
      var navHeight = $('.navbar').outerHeight(true);

      $body.scrollspy({
        target: '#leftCol',
        offset: navHeight
      });

      /* smooth scrolling sections */
      $('a[href*=#]:not([href=#])').click(function ()
      {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname)
        {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length)
          {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });

      /*$('html,body').animate({
       scrollTop: $('#
      {{anchor}}').offset().left
     }, 1000);*/
      $('a[href="#{{anchor}}"]').trigger('click');

    });

  </script>


{% endblock javascripts %}