{% block subject %}Welcome {{ user.username }}{% endblock %}


{% block body_text %}
  {% autoescape false %}
  Hello {{ user.username }} !

  {{ 'registration'}}

 {{ 'registration_confirmation_mail' | trans }} {{ confirmationUrl }}

  Regards,{{ app.session.locale }}
  the Symposer team
  {% endautoescape %}
{% endblock %}
{% block body_html %}
<html>
  <body>
    <img src="{{ asset('img/sympozer.png') }}"/>

    <h3>Hello {{ user.username }} !</h3>

    <p>{{ 'registration_confirmation_mail' | trans }} {{ confirmationUrl }}</p>

    <p>Regards,</p>
    <p><i>the Symposer team</i></p>
  </body>
</html>
  {# include a html template #}{% endblock %}