{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
  {% autoescape false %}
  Hello {{ user.username }} !

  You can reset your password by accessing {{ confirmationUrl }}

  Greetings,
  the Sympozer team
  {% endautoescape %}
{% endblock %}
{% block body_html %}
  <html>
  <body>
  <img src="{{ asset('img/sympozer.png') }}"/>

  <h3>Hello {{ user.username }} !</h3>

  <p>You can reset your password by accessing <a href="{{ confirmationUrl }}">this link</a></p>

  <p>Regards,</p>

  <p><i>the Symposer team</i></p>
  </body>
  </html>
{% endblock %}